{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/cons_turma_lista.css">
    <title>Lista de Turmas do professor</title>
    <link rel="stylesheet" href="../static/css/cad_list.css">
</head>

<div class="superior">
<header class="login">
    <div class="fundo_menu">
        <div class="nome_sistema">
            Sistema de Apoio aos Professores
        </div>
    </div>
</header> 

<nav class="menu">
    <ul>
       <li> | Turma Logada: {{turma_logada}} | </a></li>
       <li><a href="/">SAIR</a></li>
    </ul>
</nav> 

</div>
     
<body onLoad="login();">
    <div class="principal">
    <div class="container">
        <section class="enquadramento">
            <h1> Atividades</h1>
            <a href="{% url 'exportar-excel' %}" download>
                <button>Exportar para Excel</button>
            </a>
        </section>
         {% if messages %}
            <ul class="mensagem_do_servidor" style="background: #dad7cd; padding: 24px; text-align:center; color: #fff;">
                {% for mensagem in messages %}
                   <li style="list-style: none;" {% if mensagem.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{mensagem}}</li>
                {% endfor %}
            </ul>
         {% endif %}

        <input type="hidden"  name="id_turma_logado" id="id_turma_logado"  value="{{id_turma_logado}}" />
        <input type="hidden"  name="turma_logada" id="turma_logada"  value="{{turma_logada}}" />
        <hr>

        <form id="form" class="form" method="POST" enctype="multipart/form-data" action="{% url 'salvar_atividade' %}">{% csrf_token %}

            <div class="form-content">

                <input type="hidden"  name="id_turma_logado" id="id_turma_logado"  value="{{id_turma}}" />
                <input type="text" id="atividade_nome" name="atividade_nome" value="" placeholder="Digite o nome da Atividade" />
                <p style="font-size: 13px; margin: 0 0 10px 0;">Nome deve ter no mínimo 3 caracteres</p>
                <input type="file" name="arquivo" id="arquivo" value="Caminho do arquivo">
                
            </div>
            <div class="botoes">
                <div class="botao_confirmar">
                    <button type="submit" class="btn_conf_cancel btn_confirmar">Cadastrar</button>
                </div>
            </div>
        </form>

        <table>
            <tr>
                <th>Numero</th>
                <th>Atividades</th>
                <th>Arquivo</th>
                <!-- <th>Excluir</th>
                <th>Visualizar</th> -->
            </tr>
            
            {% for igs in lista_atividade %}
            <tr>
                <td style="text-align:center">{{igs.id}} </td>
                <td>{{igs.nome_atividade}}</td>
                <td>
                    {% if igs.arquivo %}
                    <a href=../../{{igs.arquivo}}><i class="fa-regular fa-file"></i></a>
                    {% endif %}
                </td>


                <!-- <td style="text-align:center"><a href="/valida_excluir/{{igs.id}}"><button id="botao-excluir">excluir</button></a></td>
                <td style="text-align:center"><a href="/ver_atividades?id_turma={{igs.id}}"><button id="botao-visualizar">visualizar</button></a></td> -->
            </tr>
            {% endfor %}

        </table>

    </div>    
    </div>

<script src="https://kit.fontawesome.com/c9237383f1.js" crossorigin="anonymous"></script>

</body>


</html>