<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home - Login </title>
    <link rel="stylesheet" type="text/css" href="">
    <script src="https://kit.fontawesome.com/be07557a2e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="error-message">
            {{ error_message }}
        </div>

        <h2> Login </h1>
            {% if messages %}
                <ul class="mensagem_do_servidor" >
                    {% for mensagem in messages %}
                        <li {% if mensagem.tags %} class="alert alert-{{message.tags}}" {% endif %}> {{mensagem}} </li>
                    {% endfor %}
                </ul>
            {% endif %}

        <form action="{% url 'enviar_login' %}" method="post" class="form-login"> {% csrf_token %}
            <i class="fa-solid fa-user"></i>
            <input type="email" id="email" name="email" placeholder="username" required>

            <i class="fa-solid fa-key"></i>
            <input type="password" id="senha" name="senha" placeholder="password" required>

            <button id="item" type="submit">SUBMIT</button>
        </form>
        
    </div>
</body>

</html>