
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="">
		<link rel="stylesheet" href="../static/css/login.css">
		<title>Login</title>
	</head>
	<body>
		<div>
			<div class="error-message">
				<!-- Mensagem de erro será inserida aqui -->
			</div>
			<h2>Login</h2>
				{% if messages %}
					<ul class="mensagem_do_servidor">
						{% for mensagem in messages %}
							<li {% if mensagem.tags %} class="alert alert--{{message.tags}}"{% endif %}>{{mensagem}}</li>
						{% endfor %}
					</ul>
				{% endif %}	
			<form action="{% url 'enviar_login' %}" method="post">{% csrf_token %}
				<h1>LOGIN</h1>
				<label for="email">E-mail</label>
				<input type="text" id="email" name="email" placeholder="Informe seu email">
				<label for="password">Senha</label>
				<input type="password" name="senha" id="senha" placeholder="Informe sua senha">
				<button id="enviar">Sigin</button>
			</form>

			<div class="error-message">
				<!--Mensagem de erro inserida aqui-->
			</div>

		</div>	
	</body>

</html>