
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="">
		<link rel="stylesheet" href="../static/css/login.css">
		<title>Login</title>
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>
		<div class="container">
			<div class="error-message">
				<!-- Mensagem de erro será inserida aqui -->
			</div>

			{% if messages %}
				<ul class="server-message">
					{% for mensagem in messages %}
						<li {% if mensagem.tags %} class="alert alert--{{mensagem.tags}}"{% endif %}>{{mensagem}}</li>
					{% endfor %}
				</ul>
			{% endif %}    
			<form action="{% url 'enviar_login' %}" method="post" class="login-form">{% csrf_token %}
				<h1>LOGIN</h1>
				<label for="email">E-mail</label>
				<input type="text" id="email" name="email" placeholder="Informe seu email">
				<label for="password">Senha</label>
				<input type="password" name="senha" id="senha" placeholder="Informe sua senha">
				<button id="enviar">Sign in</button>
			</form>
			<div class="error-message">
				<!-- Mensagem de erro inserida aqui -->
			</div>
		</div>
	</body>
	
</html>