/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-content {
    margin-bottom: 20px;
}

.form-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-content a {
    display: block;
    margin-top: -10px;
    font-size: 12px;
    color: #777;
}

/* Button styles */
.botoes {
    text-align: center;
}

.botao_confirmar .btn_conf_cancel {
    padding: 10px 20px;
    background-color: #8a2be2; /* Purple */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao_confirmar .btn_conf_cancel:hover {
    background-color: #6a1b9a; /* Darker Purple */
}

/* Server message styles */
.mensagem_do_servidor {
    background: #7d7f81;
    padding: 24px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.mensagem_do_servidor li {
    list-style: none;
}


.superior {
    background-color: #8a2be2; /* Purple */
    color: #fff;
    padding: 10px 0;
    margin-bottom: 30px;
}

.nome_sistema {
    font-size: 20px;
}

/* Menu styles */
.menu ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin-right: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

#botao-excluir{
    background-color: #ff000f;
    color: #fff;
    border-radius: 3px;
}

#botao-visualizar{
    background-color: rgb(0, 255, 0);
    border-radius: 3px;
}