.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.server-message {
    list-style-type: none;
    padding: 0;
}

.server-message li {
    margin-bottom: 5px;
}

.login-form {
    margin-top: 20px;
}

.login-form h1 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color: #6f00ff;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #8b10ff;
}

.signup-form{
    display:flex;
    flex-direction: column;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.signup-form button {
    background-color: #6f00ff;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #8b10ff;
}
